body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffff66;
}

p {
  padding: 150px;
  margin: 0;
  border: 0;
}

span {
  transition: font-size 1s, text-shadow 1s, color 1s;
}

span:hover {
  font-size: 420px;
  text-shadow: 20px 20px 0px pink;
}

span.e:hover {
  text-shadow: 20px 20px 0px #84cdee;
}

span.w:hover {
  text-shadow: 20px 20px 0px #84cdee;
}
