body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffff66;
}

p {
  padding: 150px;
  margin: 0;
  border: 0;
}

button {
  font-family: 'Ubuntu', sans-serif;
  font-size: 200px;
  color: black;
  background: transparent;
  outline: 0;
  border: 0;
  transition: font-size 1s, text-shadow 1s, color 1s;
}

button:active {
  font-size: 300px;
  text-shadow: 20px 20px 0px pink;
}

button.e:active {
  text-shadow: 20px 20px 0px #84cdee;
}

button.w:active {
  text-shadow: 20px 20px 0px #84cdee;
}
